body
{
	width: 820px;
	margin-top: 40px;
	margin-left: 60px;
	margin-bottom: 100px;
	font-family: Verdana, Helvetica, sans-serif;
}

h1
{
	margin-bottom: 14px;
}

h2
{
	margin-top: 4px;
	margin-bottom: 4px;
}

p
{
	font-size: 13px;
}

tr
{
	vertical-align: top;
}

li
{
	font-size: 13px;
}

dt
{
	font-weight: bold;
}

img
{
	border: solid #DDDDDD 1px;
	padding: 2px 2px;
}

table.topOfPageTable
{
	margin-bottom: 16px;
}

table.topOfPageTable tr td table
{
	border: solid #DDDDDD 1px;
	font-size: 13px;
	text-align: left;
/*	padding-left: 4px;
	padding-right: 18px;*/
}

table.topOfPageTable tr td table th
{
	color: #555555;
	background-color: #DDDDDD;
	padding-left: 4px;
	padding-right: 12px;
}

table.topOfPageTable tr td table td
{
	padding-left: 4px;
	padding-right: 12px;
}

td.featuresRightColumn
{
	width: 410px;
	padding-left: 8px;
}

.imageIntro
{
	font-size: 12px;
	font-style: italic;
}

.imageCaption
{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.navButton
{
	color: black;
	border: solid gray 1px;
	/*padding: 2px 8px 2px 8px;*/
	padding: 0px 8px 0px 8px;
	margin-bottom: 4px;
	background-color: white;
	text-decoration: none;
}

.navButton:hover
{
	background-color: #DDDDDD;
}

.featuresTable { }

.featuresTable tr td { padding-bottom: 16px; }

.donationBox
{
	border: solid #888888 1px;
	text-align: center;
	font-size: 90%;
	width: 100%;
	color: #444444;
}

.donationBoxTest
{
	border: solid #888888 1px;
	text-align: center;
	font-size: 90%;
	/*width: 100%;*/
	color: #444444;
}

.donationBoxHeading
{
	padding: 2px 6px 2px 6px;
	margin: 2px;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
	background-color: #EEEE88;
}

.featureHighlight
{
	font-weight: bold;
	color: #CC0000;
}
