<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppKiDo-for-iPhone</string>
	<key>CFBundleIconFile</key>
	<string>app-icon-iphone</string>
	<key>CFBundleIdentifier</key>
	<string>com.appkido.appkidoforiphone</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleGetInfoString</key>
	<string>0.989sp1</string>
	<key>CFBundleVersion</key>
	<string>0.989sp1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.989sp1</string>
	<key>CFBundleName</key>
	<string>AppKiDo-for-iPhone</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>AKApplication</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>OSAScriptingDefinition</key>
	<string>AppKiDo.sdef</string>
</dict>
</plist>
